$component-name: 'l-about';

.#{$component-name}{
  max-width: 100vw;
  position: relative;
  //Ajustes no espaçamento entre paragrafos
  .c-wrapper > .c-text{
    margin: rem(15) auto;
  }
  .c-wrapper > :first-child{
    margin-top: rem(15);
  }
  .c-wrapper > :last-child{
    margin-top: rem(15);
  }
  .c-wrapper > h3.c-title{
    margin-top: rem(30);
    max-width: fit-content;
    position: relative;
    &::after{
      @include pseudo;
      background-color: darken(#141F26, 5px);
      border-radius: $global-radius;
      box-shadow:
      0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
      bottom: rem(-10);
      height: rem(5);
      width: 60%;
    }
  }
  /*
  //O famoso aspas duplas

  .c-wrapper > .c-iconized{
    position: absolute;
    transform: translate(350%,-59px);
    z-index: 4;
  }*/


  //--------------------
  //Ajustes na imagem ao centro do texto
  //--------------------
  &__img{
    background-color: darken(#192734,8px);
    border-radius: $global-radius;
    margin: 0 auto;
    padding: $global-module-size / 4;
    position: relative;
    width: fit-content;
    z-index: 4;

    .c-socialList{
      background-color: inherit;
      border-radius: $global-radius;
      bottom: 50px;
      display: none;
      flex-direction: column;
      position: absolute;
      right: -67px;
      z-index: -5;
      &__item{
        position: relative;
      }
    }
  }
  .c-card{
    flex-direction: column;
    width: fit-content;
    .c-card__item{
      margin-bottom: rem(7);
    }
    &>:nth-child(2){
      margin-top: rem(7);
    }
    &>:last-child{
      margin-bottom: 0;
    }
  }
  .c-card__item{
    align-items: baseline;
    display: flex;
    flex-direction: row;
    .c-iconized{
      display: inline-block;
      height: 20px;
      margin-right: rem(5);
      padding: 0px;
      width: 20px;
    }
    span{
      color:var(--color-background);
      font-size: $global-font-size / 1;
      width: rem(48);
    }
    span + p{
      color: var(--color-textLight);
      font-weight: bold;
    }
  }
  img{
    border-radius: $global-radius;
    position: relative;
  }
  figcaption{
    display: none;
  }
  @include breakpoint(small-up){
    & > .c-wrapper__heading > .c-iconized{
      height: rem(105);
      margin-right: rem(25);
      width: rem(105);
    }
    &__img{
      float: right;
      margin: 0px 0px rem(10) rem(10);
    }
  }
  @include breakpoint(800){
    .c-wrapper > :nth-child(7){
      border-bottom: 2px solid darken(#141F26, 5px);
      border-right:2px solid darken(#141F26, 5px);
    }
    &__img{
      .c-socialList{
        display: flex;
      }
    }
  }
}