$component-name: 'l-ending';


.#{$component-name}{
  .c-text{
    font-size: 12px;
    text-align: center;
    text-indent: 0px;
    text-shadow: 1px 1px 2px black;
    span{
      color: #2EB0E5;
      font-weight: bold;
    }
  }
  ul.c-socialList{
    width: fit-content;
    margin: 0 auto;
  }
}