$component-name: 'l-hero';

.#{$component-name}{
  align-items:                          center;
  box-shadow:                           1px 0px 25px 5px lighten(#141F26, 7px);
  display:                              flex;
  flex-direction:                       column;
  height:                               88vh;
  justify-content:                      space-between;
  max-width:                            100vw;
  overflow:                             hidden;
  position:                             relative;
  &::after,
  &::before{
    //After = Circulo menor, Before = Circulo Maior
	@include pseudo;
	border-radius: 50%;
	box-shadow: inherit;
	z-index: -2;
  }
  //--Animação do elemento HERO
  &::after{
  @include bgGradient(#243BF1,linear,1.5px,top);
	bottom: rem(-50);
	height: rem(300);
	right:	rem(-75);
	width:	rem(300);
  animation: leftRotate 40s $transition-function-ease-in-out-circ infinite alternate;
	    @keyframes leftRotate {
      from {
        transform: rotate(0deg) translate(0,45px);
      }to{
        transform: rotate(-360deg) translate(25px,180px);
      }
    }
  }
  //----Animação do elemento HERO
  &::before{
	animation: rightRotate 25s $transition-function-ease-in-out-circ infinite alternate;
	transform: rotate(145deg) translateY(-100%);
  @include bgGradient(#243BF1,linear,2px,bottom);
  height: rem(100);
  width:	rem(100);
 		@keyframes rightRotate {
      0% {
        transform: 
          rotate(0deg) 
            scale(.7)
              translate(130px,130px);
      }
      15%{
        border-radius:                  100px 50%;
        transform: 
          rotate(.5turn)
            scale(.9);
      }
      25%{
        border-radius:                  50px 100px;
        transform: 
        rotate(25%)
          scale(1.3)
            translate(-45px,-90px);
      }
      35%{
        border-radius:                  150px 40%;
        transform: 
          rotate(-15%)
            scale(1.5);
      }
      50%{
        border-radius:                  20% 40%;
        transform: 
          scale(.5);
      }
      75%{
        border-radius:                  25% 25%;
        transform: 
        rotate(.5turn)
          translate(-90px,180px);
      }
      100%{
        border-radius:                  50%;
        transform: 
          scale(1);
      }
    }
  }

  //-------Texto principal do elemento HERO
  &__landing{
    padding:                            $global-module-size;
    max-width:                          80ch;
   h1{
    margin-bottom: $global-module-size;
    &::after{
      @include pseudo;
      background-color: currentColor;
      border-radius: $global-radius;
      height: rem(5);
      width: 15%;
    }
   }
   h2{
     font-size:                         14px;
   }
   //Circulos coloridos e suas animações
   &::after,
   &::before{
   	@include pseudo;
	    box-shadow:                         0 14px 28px rgba(0,0,0,0.25);	
    	z-index:                            -1;
   }
   //-----
   &::after{
    @include bgGradient(#243BF1,radial,3.5px);
    animation: circleAlternate 60s $transition-function-elastic infinite alternate;
    border-radius:                      $global-radius;
    height:                             rem(50);
    transform: rotate(45deg) translateY(rem(200));
    width:                              rem(50);
    
     @keyframes circleAlternate {
       10%{
        transform: scale(1.4);
       }
       15%{
         border-radius: 50%;
         transform: 
          scale(.5)
            translate(rem(10), rem(100));
       }
       20%{
         transform: 
          scale(1.5)
           translate(rem(-15))
            rotate(-.5turn);
       }
       25%{
         transform:
          rotate(360deg)
           translate(rem(500),rem(50)) ;
         z-index: -2;
       }
       30%{
        border-radius: 50%;
        transform: 
          scale(1)
           rotate(.5turn)
            translate(rem(250), rem(-75));
       }
       50%{
         border-radius: $global-radius;
         transform: 
          scale(.5)
            rotate(360deg);
            z-index: -1;
       }
       75%{
         border-radius: 50%;
         transform:
          scale(1.3)
           translate(rem(200),rem(375));
       }
       80%{
         transform: 
         scale(1.5)
          rotate(.5turn);
       }
       100%{
         transform: scale(2);
       }
     } 
   }
   //-----
   &::before{
    @include bgGradient(#243BF1,linear,5px,top);
    animation: quadTransmute 24s $transition-function-ease-in-out-quint infinite alternate-reverse;
    height:                             rem(200);
    transform: rotate(45deg) translate(-110px, 75px);
    width:                              rem(200);

    @keyframes quadTransmute {
      0%{
        border-radius:                  0%;
        transform: 
          rotate(-15deg);
        }
      25%{
        border-radius:                  25% 25%;
        transform:
          rotate(-1turn)
           scale(1.2)
            translate(160px,50%);
        }
      35%{
        border-radius:                  50%;
        transform:                      scale(.7);
        }
      50% {
        border-radius:                  150px 150px;
        transform:  
          scale(1)
           rotate(.7turn);
        } 
      75%{
        border-radius:                  25%;
        transform: 
          rotate(1turn)
           scale(.6)
            translate(200px,50%);
        }
      100%{
        transform:                     scale(1.4);
        border-radius:                 50%;
        }
      }
    }
  }

  //----------Imagem inferior do HERO
  &__img{
    bottom:                             -9px;
    position:                           absolute;
    z-index:                            -1;
  }
  .c-socialList{
    justify-content:                   center;
    width:                             100vw;
  }
}