@charset 'utf-8';
@forward '01-settings';
@forward '02-tools';
@forward '03-elements/';
@forward '04-components';

:root{

  --body: 'Inter';  
  --heading: 'Questrial'; 
  
  --paragraph-md: 400 1rem/ 24px var(--body), sans-serif;
  --paragraph-lg: 400 1.125rem/ 24px var(--body), sans-serif;
  --heading-md: 400 rem(2)/ 24px var(--heading), sans-serif;
}