$component-name: 'clr-primary';

.#{$component-name}{
    background: var(--primary-00);
    color: var(--dark-02);
    
    &:hover{
        background: var(--primary-default);
    }
    
    &:active{
        background: var(--primary-03);
        color: var(--dark-02);
    }
}

.#{$component-name}--card{
    &:hover{
        border-image: var(--primary-gradient);
    }
}