$component-name: 'clr-primary';

.#{$component-name}{
    background: var(--primary-default);
    color: var(--primary-03);

    &:hover{
        background: var(--primary-00);
    }

    &:active{
        background: var(--primary-03);
        color: var(--primary-00);
    }
}