$element-name: 'is-active';

.#{$element-name}{
    &::after{
        background-color: var(--color-primary);
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: -55px;
        opacity: .2;
        position: absolute;
        transition: left 350ms, opacity 400ms;
        width: rem(40);
    }
    &:hover{
        &::after{
            left: -5px;
            opacity: 1;
        }
    }
}