@use '../02-tools/colors' as cor;


$component-name: "button";




.c-#{$component-name}{
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;

  &--brand{
    @extend .c-#{$component-name};
    background: cor.brand(500);
    box-shadow: 0px 8px 16px lighten(#45F5B8, 24%);
    color: cor.brand(800);
    transition: box-shadow 350ms ease-in;
    &:hover{
      box-shadow: none;
    }
  }

}



