$component-name: 'typ-title';

.#{$component-name}{
    color: var(--gray-01);
    font-size: var(--font-xl);
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 54px;
    position: relative;
    margin-bottom: var(--size-sm);

    &::after{
        margin: var(--size-md) 0 var(--size-lg) 0;
        background: currentColor;
        border-radius: 4px;
        content: "";
        display: block;
        height: 2px;
        width: 70px;
    }
}
