$component-name: 'l-about';

.#{$component-name}{
    background: var(--dark-01);
    padding: var(--size-lg) 0 var(--size-xl) 0;
    
    article{
        display: flex;
        gap: var(--size-lg);

        & > :nth-child(1){
            display: inherit;
            flex-wrap: wrap;
            gap: var(--size-md);
            min-width: 56%;
        }

    }
}