$component-name: 'l-about';

.#{$component-name}{
    background: var(--dark-01);
    position: relative;
    padding-top: 30px;
    z-index: 1;

    article{
        display: flex;

        & > :nth-child(1){
            display: inherit;
            flex-wrap: wrap;
            gap: 30px;
            min-width: 60%;
        }

    }
}