.c-social{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.c-social a{
  padding: 12px;
  display: block;
  color: var(--light);
}

.c-social > :nth-child(1n + 1){
  border-bottom: 1px solid var(--graysh);
  border-top: 1px solid var(--graysh);
  border-left: 1px solid var(--graysh);

}
.c-social > :nth-child(even){
  border-left: 1px solid var(--graysh);
  border-right: 1px solid var(--graysh);
}