@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');
*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{text-decoration: none;}
ul{list-style: none;}
body{
  background-size: cover;
  background-color: #222;
}

/*Configurações do header*/
header{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header input{
  display: none;
}

/*Nav-bar superior e seus elementos*/
.top-menu{
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  width: 100%;
  background-color: transparent;
}
.top-menu a h1{
  color:#eee;
  font-size: 1.25rem; 
}
/*Elementos do botão hamburguer*/
.btn-hamburguer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  position: fixed;
  left: .5rem;
  top: 0;
  background-color: transparent;
  border: 0px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05),
  0px 0px 0px rgba(0, 0, 0, 0.05);
  z-index: 1500;
  cursor: pointer;
  border-radius: 50%;
}
.btn-hamburguer:hover{
  border: .4px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25),
              -1px -2px 8px rgba(0, 0, 0, 0.25);
  transition: all .7s ease-in-out;
}
.hamburguer{
  display: block;
  height: .3rem;
  width: 2rem;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #8aceff;
  position: relative;
  transition: all .8s ease-in-out;
}
.hamburguer::after, .hamburguer::before{
  content: "";
  display: block;
  height: .3rem;
  width: 2rem;
  background:linear-gradient(to right bottom, #18c3f8, #00b2ff, #00a0ff, #008bff, #0072ff);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
}
.hamburguer::after{
  top: 9px;
  border-top-left-radius: 3px;
  transition: all .8s ease-in-out;
}
.hamburguer::before{
  bottom: 9px;
  border-bottom-right-radius: 3px;
  transition: all .8s ease-in-out;

}
/*Funções realizadas quando o menu lateral é ativado*/
.top-menu input:checked ~ .nav-menu{
  left: 0;
}
.top-menu input:checked ~ .btn-hamburguer .hamburguer{
  transform: rotate(45deg);
}
.top-menu input:checked ~ .btn-hamburguer .hamburguer::after{
  transform: rotate(-90deg);
  top: 0;
}
.top-menu input:checked ~ .btn-hamburguer .hamburguer::before{
  transform: rotate(90deg);
  top: 0;
}
/*Menu de navegação e seus filhos*/
.nav-menu{
  height: 100vh;
  width: 40%;
  max-width: 15rem;
  background-color: #333;
  transition: all 1s ease-in-out;
  box-sizing: border-box;
  position: fixed;
  z-index: 3;
  top: 0;
  left: -100vw;
}
.nav-list{
  display: flex;
  position: relative;
  flex-direction: column;
  font-weight: 700; 
  margin-top: 50px;
}
.nav-link{
  color: #333;
  display: block;
  margin: 9px auto 0;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 2.5px;
  width: 90%;
}
/*Edição da frase iinicial do hero*/
.landing-text{
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing-text h1{
  position: relative;
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background:linear-gradient(to right bottom, #18c3f8, #00b2ff, #00a0ff, #008bff, #0072ff);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*.landing-text h1::after{
  content: "";
  display: block;
  width: 40rem;
  height: .3rem;
  background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -25%);
  z-index: -1;
}
*/
.landing-text h6{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  background:linear-gradient(to right bottom, #18c3f8, #00b2ff, #00a0ff, #008bff, #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/*Links sociais do header/hero*/
.social-media{
  margin-top: 3rem ;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.social-media .nav-list{
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.3rem;
  transition: all 1s ease-in-out;
}
.social-media .nav-list li{
  margin: 0 15px;
}
.fa-facebook-square{
  color: #eee;
}
.fa-facebook-square:hover{
  color: #3B5998;
}
.fa-instagram{
  color: #eee;
}
.fa-instagram:hover{
  color: #DD2A7B;
}

.fa-linkedin{
  color: #eee;
}
.fa-linkedin:hover{
  color: #0e76a8;
}

.fa-github{
  color: #eee;
}
.fa-github:hover{
  color: #211F1F;
}

.fa-whatsapp{
  color: #eee;
}
.fa-whatsapp:hover{
  color: #048f70;
}
