@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


body {
    margin: 0px;
    font-family: 'Josefin Sans',Arial, Helvetica, sans-serif;
}
#btn-menu {
    display: none;
}
header{
    background-color: #e2e2e2;
    border-bottom: .5px black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
header label{
    color: rgba(128, 128, 128, 0.5);
    font-size: 30px;
    display: block;
    display: none;
    padding: 5px 10px;
    width: 20px;
}
header label:hover{
    color: grey;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: all .5s;
}
.menu li a{
    text-shadow: 1px 1.5px 4px#0000005e;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}
.menu li a:hover{
    background-color: #eeeeee;
}
@media(max-width: 768px){
    header label {
        display: block;
    }
    .menu ul {
        /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);*/
        position: absolute;
        background-color: #e2e2e2;
        width: 15%;
        flex-direction: column;
        margin-left: -70%;
    }
    .menu li a{

    }

    #btn-menu:checked ~ .menu ul {
        margin-left: 0;
    }
}