/*EDIÇÃO DO TEMPLATE DO SITE*/

div#template {
    border: 0.2px black solid;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    width: 980px;
    height: 400px;
    margin: 150px auto 0 auto;

}