@use '../02-tools/colors' as cor;
@use '../02-tools/converter' as rem;
@use "sass:math";


@mixin font($weight, $size, $height, $typeface) {
  font:  $weight rem.converter($size)/ rem.converter($height, "to") var(--#{$typeface}), sans-serif;
}

h1, h2, h3{
  color: cor.graysh(900); 
}

h1{
  @include font(400, 4, 60, 'heading');
}
h2{
  @include font(400, 3, 48, 'heading');
}

body{
  color: cor.graysh(500);
  @include font(400, 1, 24, "body");
}

// ============ Utilizados no projeto

.subtitle{
  margin-bottom: math.div(1rem, 2);
  @include font(400, 1, 24, "heading")
}

.title{
  margin-bottom: 1rem;
}

.resume{
  margin-bottom: 2rem;
}

