$element-name: 'l-home';

.#{$element-name}{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45vh;
    gap: 30px;

    & > :nth-child(1){
        width: 50%;
    }
    & > :nth-child(2) img{
        margin-top: rem(90);
    }


}