*,
*::before,
*::after {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  background: var(--color-background);
  color: var(--color-text);
}

  //--------------------
  //Animações do cabeçalho das seções
  //--------------------
.l-about       > .c-wrapper__heading::before,
.l-about       > .c-wrapper__heading::after,
.l-skills      > .c-wrapper__heading::before,
.l-skills      > .c-wrapper__heading::after,
.l-technologys > .c-wrapper__heading::before,
.l-technologys > .c-wrapper__heading::after{
  @include pseudo;
  border-radius: 50%;
  box-shadow: inherit;
  filter: blur(4px);
  height: rem(250);
  top: 0;
  width: rem(250);
  z-index: -2;
}

.l-about       > .c-wrapper__heading::after,
.l-skills      > .c-wrapper__heading::after,
.l-technologys > .c-wrapper__heading::after{
  @include bgGradient(darken(#243BF1,10px),linear,6px,bottom);
  animation: quadTransmute 25s;
  opacity: .6;
  right: 0;
}

.l-about       > .c-wrapper__heading::before,
.l-skills      > .c-wrapper__heading::before,
.l-technologys > .c-wrapper__heading::before{
  @include bgGradient(darken(#243BF1,20px),linear,3px,top);
  animation: leftRotate 50s;
  left: 0;
}

hr{
margin: 5% auto;
width: 75%;
border-width: .5px;
border-color: darken(#141F26, 5px);
}
