// ==========================================================================
// Colors
// ==========================================================================

$grayscale: (
    '00': rgba(239, 240, 240, 1),
    '01': rgba(216, 218, 217, 1),
    '02': rgba(177, 180, 178, 1),
    '03': rgba(138, 143, 140, 1),
    '04': rgba(100, 104, 102, 1),
);

$darkscale: (
    '00': rgba(27, 29, 28, 1),
    '01': rgba(22, 24, 23, 1),
    '02': rgba(18, 20, 19, 1),
);

$primary: (
    '00':       rgba(170, 248, 214, 1),
    '01':       rgba(99, 243, 179, 1),
    'default':  rgba(29, 237, 145, 1),
    '02':       rgba(14, 175, 104, 1),
    '03':       rgba(8, 104, 62, 1),
    'gradient':   (linear-gradient(224.22deg, #1DED91 -15.75%, rgba(170, 248, 214, 0.5) 113.02%)),
);

$developer: (
    '00':       rgba(213, 170, 248, 1),
    '01':       rgba(178, 99, 243, 1),
    'default':  rgba(143, 29, 237, 1),    
    '02':       rgba(103, 14, 175, 1),
    '03':       rgba(61, 8, 104, 1),
    'gradient':   (linear-gradient(224.22deg, #8F1DED -15.75%, rgba(213, 170, 248, 0.5) 113.02%)),
);

$dmm: (
    '00':       rgba(248, 213, 170, 1),
    '01':       rgba(243, 178, 99, 1),
    'default':  rgba(237, 143, 29, 1),
    '02':       rgba(175, 103, 14, 1),
    '03':       rgba(104, 61, 8, 1),
    'gradient':   (linear-gradient(224.22deg, #ED8F1D -15.75%, rgba(248, 213, 170, 0.5) 113.02%)),
);


// ==========================================================================
// Measures
// ==========================================================================

$globalSize: 0.5rem;

$space: (

    'sm'    : $globalSize, // Extra small 8px
    'md'    : $globalSize * 2, //medium 16px
    'lg'    : $globalSize * 4, //large 32px
    'xl'    : $globalSize * 8, //Extra large 64px

);


$fontSize: (

    'md'    : $globalSize * 2, //medium 16px   
    'lg'    : $globalSize * 3, //large 24px
    'xl'    : $globalSize * 6, //large 48px

);

$global-radius: 4px;