$component-name: 'c-wrapper';

.#{$component-name}__heading{
  align-items: center;
  background-color: var(--color-textLight);
  color: var(--color-background);
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.#{$component-name}{
  //margin: 0 auto;
  //width: $global-max-width / 2;
    margin: 0 auto;
    width: 75%;
  @include breakpoint(small-up){
  padding: $global-module-size / 3;
    & > p{
      margin: inherit;
    }
  }
}

.#{$component-name}__heading{
  @include breakpoint(large-up){
    padding: $global-module-size;
    & > .c-iconized{
      margin-left: $global-module-size / 2;
      margin-right: $global-module-size / 2;
    }
  }
}