@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:ital@1&display=swap');

:root {
  --primary:        #1DED91;
  --primary-light:  #8AFFCB;
  --gray-01:        #D8DAD9;
  --gray-02:        #C7CCCA;
  --light-01:       #F0FFF8;
  --dark-01:        #2C302E;
  --dark-02:        #272C2A;
  --dark-03:        #1A1F1D;
  --typography-body: 'Lato', sans-serif;
  --typography-title: 'Lora', serif;
  --module-size: 30px;
  --default-radius: 4px;
}

/* 
  Reset elements
*/

body,
body *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: var(--dark-03);
  color: var(--gray-01);
  font-size: 16px;
}

a{
  color: currentColor;
  text-decoration: none;
}

ul{
  list-style: none;
}

h1,
h2{
  font-size: 100%;
}

img{
  display: block;
  max-width: 100%;
  object-fit: cover;
}

article{
  align-items: center;
  display: flex;
  /* flex-wrap: wrap; */
  gap: calc(var(--module-size) * 2);
  justify-content: center;
  padding: 90px 30px;
}

/* 
  Components
*/
.wrapper{
  max-width: 1170px;
  margin: 0 auto;
}

.divider{
  border: 0px solid #000;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, #424242, #00000041);
}

.menu__link,
.button,
.button--as-link,
.paragraph,
.subtitle,
.social__link{
  font-family: var(--typography-body);
}

.menu__link,
.button,
.button--as-link,
.button,
.social__link{
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 700;
}

.button,
.button--as-link{
  display: flex;
  font-size: 18px;
  gap: calc(var(--module-size) / 2);
  align-content: center;
  transition: background-color 300ms ease-in, border-color 300ms ease-in, color 300ms ease-in;
}

.button{
  background: var(--primary);
  width: max-content;
  border-radius: var(--default-radius);
  padding: 10px 50px;
  color: var(--dark-03);
}
  
.button:hover{
  background: var(--primary-light);
}

/* .button--as-link{
  border-bottom: dotted 6px var(--light-01);
  padding-bottom: 5px;
} */

.button--as-link:hover{
  color: var(--primary);
}


/* 
  Typography
*/
.title{
  color: var(--light-01);
  font-family: var(--typography-title);
  font-size: 54px;
}

.subtitle{
  color: var(--gray-02);
  font-weight: 700;
}

.headline > .subtitle::after{
  background: var(--primary);
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin: 10px 0 15px 0;
  width: var(--module-size);
}

.paragraph{
  line-height: 1.5;
  font-weight: 400;
}

h2.paragraph{
  font-size: 24px;
  margin-top: 30px;
}



/* 
  -- Menu
*/
.menu{
  display: flex;
  justify-content: space-between;
  padding: var(--module-size);
}
.menu__left,
.menu__right{
  display: inherit;
  gap: var(--module-size);
}
.menu__link{
  position: relative;
  overflow-x: hidden;
}

/* 
  Interface
*/

.headline{
  margin:  calc(var(--module-size) * 3) 0 calc(var(--module-size) * 2) 0;
}

.call-to-action{
  align-items: center;
  display: flex;
  gap: 30px;
  padding: calc(var(--module-size)*2) 0 var(--module-size) 0;
}

.social{
  border-top: .5px solid var(--dark-02);
  display: flex;
  gap: var(--module-size);
  padding-top: 30px;
  width: max-content;
}

.social__link::before{
  background: var(--primary);
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin-right: 15px;
  vertical-align: middle;
  width: 8px;
}

/* 

  About

*/

.about{
  background: var(--dark-01);
}

.gallery {
  padding: calc(var(--module-size)/2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: calc(var(--module-size)/2);
  position: relative;
  z-index: 1;
}

.gallery::before{
  border-radius: 12px;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-03);
  z-index: -1;
  transform: rotate(5deg);
}

.gallery__item{
  border-radius: 12px;
}

/* 

  Services

*/

.services{
  background-color: var(--dark-02);
}

.services article{
  flex-direction: column;
  text-align: center;
}


.services .subtitle::after{
  margin-left: auto;  
  margin-right: auto;  
}

.services{
  display: flex;
  flex-direction: column;
  gap: var(--module-size);
}

.service{
  display: grid;
  grid-template-columns: 25% 1fr auto ;
  /* justify-items: center; */
  align-items: center;
  position: relative;
  padding: var(--module-size);
  gap: var(--module-size);
}

.service::before{
  content: "";
  height: 0.6px;
  position: absolute;
  width: 100%;
  border-bottom: 0px solid black;
  background: linear-gradient(270deg, #373b3a, #2b302e);
  bottom: -10px;
}

.service .icon{
  /* display: inherit; */
  display: flex;
  align-items: center;
  gap: var(--module-size);
}

.icon__background{
  background: var(--dark-03);
  width: 64px;
  height: 64px;
  font-size: 32px;
  padding: 16px;
  border-radius: 12px;
/*  vertical-align: middle;*/
}

/* 

  Contact

*/

.contact{
  background: var(--dark-01);
}

.map{
  width: 100%;
}



/* 
  States
*/


 .is-active::after{
  background: var(--primary);
  border-radius: var(--default-radius);
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: -200px;
  opacity: 0;
  position: absolute;
  width: 40px;
  transition: all 650ms ease-out;

}
.is-active:hover::after {
  opacity: 1;
  left: 0;
}