$component-name: 'c-button';

.#{$component-name},
.#{$component-name}--as-link{
    align-items: center;
    border-radius: $global-radius;
    display: flex;
    gap: var(--size-lg);
    padding: var(--size-md) var(--size-lg);
    text-decoration: none;
    position: relative;
}

.#{$component-name}{
    text-align: center;
}