$component-name: 'c-card';

.#{$component-name}{
    background-color: var(--dark-00);
    border: 3px solid var(--dark-02);
    border-radius: 4px;
    max-width: 300px;
    position: relative;
    transition: transform 480ms ease-in-out, border 480ms ease-in-out;
    transform: translateY(0);

    &:hover{
        transform: translateY(-10px);
        border-image-slice: 1;
    }
    &__img{
        display: block;
        height: calc(var(--size-xl) * 2);
        object-fit: cover;
        transition: transform 350ms;
        width: 100%;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;

        &:hover{
            transform: scale(1.04) ;
        }
    }

    &__content{
        padding: var(--size-md);
    }
}