$component-name: "c-list";

.#{$component-name}{
    list-style: none;
    &__item{        
        &::before{
            background-color: currentColor;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: var(--size-sm);
            margin-right: var(--size-md);
            width: var(--size-sm);
        }
    }
}