$component-name: "c-service-list";

.#{$component-name}{
    align-items: flex-start;
    display: flex;
    gap: var(--size-lg);
    justify-content: center;

    .c-card .typ-body{
        margin-bottom: 0;
    }
}