$component-name: 'skills-list';
$component-child: 'skill';

.#{$component-name}{
    align-items: flex-start;
    display: flex;
    gap: var(--size-lg);
    justify-content: space-between;
    margin: calc(var(--size-xl) * 2) auto 0 auto;
};

.#{$component-child}{
    display: inherit;
    flex-direction: column;
    flex: 0 0 320px;
    &__icon{
        color: var(--primary-default);
        font-size: var(--size-lg);
    }
    & p{
        margin-top: var(--size-md);
    }
}