$black-normal:  #0d0e10;
$black-dark:    #050607;
$black-light:   #15171a;

$white-normal:  #f5f7f7;
$white-dark:    #edeff0;
$white-light:   #fafcfc;

$primary-normal:#2dc7ed;
$primary-dark:  #15aed4;
$primary-light: #4ddcff;
