.c-menu{
    display: flex;
    justify-content: space-between;
    padding: 48px 16px;
    &__left,
    &__right{
        display: inherit;
        ul{
            display: inherit;
            list-style: none;
            gap: 10px;
        }
        // ul :not(:last-child){
        //     background-color: green;
        // }
    }
}

@media screen and (max-width: 960px) {
    .c-menu{
        justify-content: center;
        &__left,
        &__right{
            display: none;
        }
    }
}

.l-hero{
    &__content{
        height: 90vh;
    }
}


.c-container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1220px;
    padding: 24px 16px;

    &__item:nth-child(1){
        flex-grow: 2;
        margin-top: 40px;
    }
    &__item:nth-child(2){
        align-items: inherit;
        display: inherit;
        flex-grow: 1;
        justify-content: inherit;
        margin-top: 40px;
        img{
            width: 400px;
        }
    }
}

@media screen and (max-width: 960px){
    .l-hero__content{
        height: auto;
    }
    .c-container{
        flex-direction: column;
    }
}

img{
    max-width: 100%;
}