*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import 'colors';
@import 'typography';

body{
    background-color: $black-dark;
    color: $white-normal;
    width: 100%;
}

@import 'spacing';
@import 'layout';