:root{
  --font: 'Inter', sans-serif;
  --ft-headline: 800 4rem/ 112% var(--font);
  --ft-body: 400 1.125rem/ 28px var(--font);
  --primary-05: #45F58C; 
}

body{
  --_display: flex;

  background-color: #0C1410;
  color: #BAC2BD;
  display: var(--_display);
  flex-direction: column;
  font: var(--ft-body);
  gap: 1rem;
  padding: 2rem 1rem;
}

h1,p{
  margin: 0;
  max-width: 64vw;
  padding: 0;
}

h1{
  color: #E7FFF0;
  font: var(--ft-headline);
}

h1 span{
  background: linear-gradient(270deg, #FFEC70 -22.5%, #45F58C 47.12%, #D9ADFF 118.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul{
  display: var(--_display);
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}


a{
  color: currentColor;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  overflow: hidden;

}

a::after{
  background: currentColor;
  bottom: -8px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: left 320ms ease-in;
  width: 32px;
}

a:hover::after{
  display: inline-block;
  background: var(--primary-05);

  left: 16px;
}

li:hover{
  color: var(--primary-05);
  cursor: pointer;
}

