$component-name: "c-btn";

.#{$component-name}{
  width:                      fit-content;
  height:                     fit-content;
  padding:                    10px 20px;
  font-size:                  12pt;
  border-radius:              $global-radius;
  cursor:                     pointer;
  font-weight:                700;
  transition:                 all $transition-duration;
  border:                     2px solid color(element,e-base);
  color:                      color(element,e-accent);
  text-align: center;

  &:hover{
    color:                    color(element,e-main);
    border:                   2px solid color(element,e-main);
    background:               inherit;
    transform:                scale(1.01);
  }
  &:focus{
    background:               inherit;
    border:                   2px solid color(brand,light);
    box-shadow:               2px 2px 4px darken(color(brand,light), 6%),-2px -2px 6px lighten(color(brand,light),4%);
    color:                    color(brand,primary);
  }
  .fas{
    display: inline-block;
    margin-right: 15px;
    font-size:                rem(17);
    border-right: .35px solid color(element,e-base);
    padding: 0 20px;
  }
}