$component-name: "c-btn";

.#{$component-name}{
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  font-size: 12pt;
  border-radius: $global-radius;
  cursor: pointer;
  font-weight: 650;
  transition: all 650ms;
  border: 2px solid var(--color-p-white);
  background-image: linear-gradient(to right,#2EB0E5,#418FF1,#4285F4);
  color: var(--color-p-white);
  margin:0 auto;
  &:hover{
    color: var(--color-p-secondary);
    border: 2px solid var(--color-p-secondary);
    background: inherit;
    transform: scale(1.01);
  }
  &:focus{
    background: inherit;
    border: 2px solid var(--color-p-white);
    @include                      box-shadow(
      2px 2px 4px darken(#EBEBE3, 6%),
      -2px -2px 6px lighten(#EBEBE3,4%)
    );
    color: var(--color-p-primary);
  }
  .fas{
    margin:                           0px 20px 0px 0px;
    font-size:                        rem(17);
  }
}