$component-name:  "c-sidebar";

.#{$component-name}{
    height:               100vh;
    width:                rem(215);
    padding:              rem(5);
    @include              flexbox();
    @include              flex-direction(column);
    @include              align-items(center);
    @include              justify-content(space-around);
    position:             fixed;
    left:                 -100rem;
    top:                  0;
		transition: 					all 725ms ease-in;
    background-image:     linear-gradient(
                            to right, 
                          #fa8072,
                            darken(#fa8072,2.5%));
    z-index: 1;
    @include breakpoint(large-up){
      width: rem(250);
    }
                          }