$component-name:  "c-sidebar";

.#{$component-name}{
    height:               100vh;
    width:                rem(215);
    padding:              rem(5);
    display:              flex;
    flex-direction:       column;
    align-items:          center;
    justify-content:      space-around;
    position:             fixed;
    left:                 -100rem;
    top:                  0;
		transition: 					all 725ms ease-in;
    background-image:     linear-gradient(to right,
                            color(light,l-white-3),
                            color(light,l-white-4),
                            color(brand,light)  
                          );    
    @include breakpoint(large-up){
      width: rem(250);
    }
}