*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400; }

a {
  text-decoration: none;
  color: currentColor; }

.c-link__item {
  display: inline-block;
  font-size: 18px;
  padding: 8px 24px;
  transition: .5s ease;
  position: relative; }
  .c-link__item::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #f5f7f7;
    transition: .5s ease;
    transform: translate(15%, -50%); }
  .c-link__item:hover {
    opacity: .8; }
    .c-link__item:hover::after {
      width: 70%; }

.c-link__square {
  display: inline-block;
  vertical-align: baseline;
  font-size: 24px;
  margin-top: 64px;
  padding: 16px 24px;
  position: relative; }
  .c-link__square::after {
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    background: linear-gradient(225deg, #2dc7ed 0%, rgba(83, 139, 240, 0) 100%);
    border-radius: 4px;
    inset: 0;
    transform: translateY(-23%) rotate(45deg);
    transition: .5s ease;
    z-index: -1; }
  .c-link__square:hover {
    transition: .5s ease;
    opacity: .8; }
    .c-link__square:hover::after {
      transform: translateY(-23%) rotate(60deg); }

h1 {
  font-size: 96px; }

h2 {
  font-size: 56px; }

h3 {
  font-size: 40px; }

h4 {
  font-size: 32px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 18px; }

@media screen and (max-width: 960px) {
  h1 {
    font-size: 64px;
    line-height: 100%; } }

.c-mask {
  background: linear-gradient(225deg, #2dc7ed 8%, #5388f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

body {
  background-color: #050607;
  color: #f5f7f7;
  width: 100%; }

.c-menu {
  display: flex;
  justify-content: space-between;
  padding: 48px 16px; }
  .c-menu__left, .c-menu__right {
    display: inherit; }
    .c-menu__left ul, .c-menu__right ul {
      display: inherit;
      list-style: none;
      gap: 10px; }

@media screen and (max-width: 960px) {
  .c-menu {
    justify-content: center; }
    .c-menu__left, .c-menu__right {
      display: none; } }

.l-hero__content {
  height: 90vh; }

.c-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1220px;
  padding: 24px 16px; }
  .c-container__item:nth-child(1) {
    flex-grow: 2;
    margin-top: 40px; }
  .c-container__item:nth-child(2) {
    align-items: inherit;
    display: inherit;
    flex-grow: 1;
    justify-content: inherit;
    margin-top: 40px; }
    .c-container__item:nth-child(2) img {
      width: 400px; }

@media screen and (max-width: 960px) {
  .l-hero__content {
    height: auto; }
  .c-container {
    flex-direction: column; } }

img {
  max-width: 100%; }
