$element-name: 'c-gallery';

.#{$element-name}{
    display: grid;
    grid-template-columns: repeat(5 1fr);
    gap: rem(15);
    background-color: black;
    grid-template-areas: 
    'horizo' 'horizo' 'horizo' 'vert' 'vert'
    'horizo' 'horizo' ;
}