$element-name: 'c-menu';

.#{$element-name}{
    @include flex;
    align-items: center;
    justify-content: space-between;
    margin: $global-module-size 0;

    &__left,
    &__right{
        @include cta-typography;
        color: var(--color-light-01);
        display: inherit;
        overflow: hidden;
        gap: $global-module-size;
    }

    // &__item:not(:last-child){
    //     margin-right: $global-module-size;
    // }

    &__item a{
        display: block;
        padding: rem(10) rem(20);
        position: relative;
    }
}