html {
  box-sizing: border-box;
}

// @see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
// @see https://www.nicchan.me/blog/tips-for-focus-styles/#consider-adding-a-little-bit-of-breathing-room
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  outline-offset: 0.25rem;
  padding: 0;
}

a{
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}


img {
  max-width: 100%;
}


// ==========================================================================
// Project specifics
// ==========================================================================

body {
  background-color: var(--color-dark-01);
  color: var(--color-light-01);
  font-family: var(--font-body);
  font-size: $global-font-size;
  font-style: italic; 
}

ul{
  list-style: none;
}