/**
*@ Pseudo elementos
*/
@mixin pseudo($content: "",$display: block,$pos: absolute)
{
  content:    $content;
  display:    $display;
  position:   $pos;
}

/**
*@ Texto Transparente
*/
@mixin transparent-text ($cor-1,$cor-2: false,$cor-3: false,$cor-4: false){
    $params: $cor-1;
    @if $cor-2 {
      $params: $cor-1, $cor-2;
    }
    @else if $cor-3 != false{
      $params: $cor-1, $cor-2, $cor-3;
    }
    @else if $cor-4 != false{
      $params: $cor-1, $cor-2, $cor-3, $cor-4;
    }
    background:
    linear-gradient(to right,$params);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

