*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--dark-02);
    color: var(--gray-00);
    font-family: 'Poppins', sans-serif;
}

a{
    color: currentColor;
    text-decoration: none;
}